<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'Arrêt</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <style>
        .form-container {
            margin-top: 30px;
        }
        #id_moyen_container, #id_changement_container, #id_action_container {
            display: none;
            flex-direction: row;
        }
        .duration-input {
            display: flex;
            align-items: center;
        }
        .duration-input .form-group {
            flex: 1;
            margin-right: 10px;
        }
        .alert-dismissible .close {
            position: relative;
            top: -2px;
            right: -21px;
            line-height: 20px;
        }
        .back-button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 back-button">
            <button type="button" id="backBtn" class="btn btn-secondary">Retour</button>
        </div>
    </div>
    <div id="message-container" class="mt-4">
        {% if message %}
        <div class="alert alert-{{ message_type }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <h3>Informations</h3>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><strong>Secteur:</strong></td>
                    <td>{{ production_instance.secteur.nom_secteur }}</td>
                </tr>
                <tr>
                    <td><strong>Ligne:</strong></td>
                    <td>{{ production_instance.ligne.nom }}</td>
                </tr>
                <tr>
                    <td><strong>Nombre d'opérateurs:</strong></td>
                    <td>{{ production_instance.nombre_operateur }}</td>
                </tr>
                <tr>
                    <td><strong>Mois:</strong></td>
                    <td>{{ production_instance.get_month }}</td>
                </tr>
                <tr>
                    <td><strong>Semaine:</strong></td>
                    <td>{{ production_instance.get_week }}</td>
                </tr>
                <tr>
                    <td><strong>Produit:</strong></td>
                    <td>{{ produit }}</td>
                </tr>
                <tr>
                    <td><strong>Client:</strong></td>
                    <td>{{ client }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div class="container form-container">
                <form method="POST" id="arretForm" class="form-horizontal">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group row">
                        <label for="id_type_arret" class="col-sm-4 col-form-label">{{ form.type_arret.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.type_arret }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_subtype_arret" class="col-sm-4 col-form-label">{{ form.subtype_arret.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.subtype_arret }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_detail_sub_type_arret" class="col-sm-4 col-form-label">{{ form.detail_sub_type_arret.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.detail_sub_type_arret }}
                        </div>
                    </div>
                    <div class="form-group row" id="id_moyen_container">
                        <label for="id_moyen" class="col-sm-4 col-form-label">{{ form.moyen.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.moyen }}
                        </div>
                    </div>
                    <div class="form-group row" id="id_changement_container">
                        <label for="id_changement" class="col-sm-4 col-form-label">{{ form.changement.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.changement }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_commentaire" class="col-sm-4 col-form-label">{{ form.commentaire.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.commentaire }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Durée</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="id_duree_heure">Heures</label>
                                {{ form.duree_en_heure }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="id_duree_minute">Minutes</label>
                                {{ form.duree_en_minute }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="id_action_container">
                        <label for="id_action" class="col-sm-4 col-form-label">{{ form.action.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.action }}
                        </div>
                    </div>
                    <div class="form-group row" id="id_intervenant_container">
                        <label for="id_intervenant" class="col-sm-4 col-form-label">{{ form.intervenant.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.intervenant }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <button type="button" id="submitBtn" class="btn btn-primary">Soumettre</button>
                        </div>
                    </div>
                </form>
                <div style="position: absolute; bottom:17px; right:300px;">
                    <a href="{% url 'step3' %}?finish={{production_instance.id}}" id="finishBtn"
                       class="btn btn-success">Finish</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Fonction pour gérer l'affichage des champs intervenant, changement et action
        function toggleFieldsVisibility() {
            var selectedType = $("#id_type_arret option:selected").text();
            var selectedSubtype = $("#id_subtype_arret option:selected").text();
            var selectedDetail = $("#id_detail_sub_type_arret option:selected").text();

            if (selectedType === 'Arret Propre' && selectedSubtype === 'Arrêt Fonctionnel' && selectedDetail === 'Changement de Serie') {
                $("#id_changement_container, #id_action_container").css("display", "flex");
            } else {
                $("#id_changement_container, #id_action_container").hide();
            }
            if (selectedType === 'Arret Propre' && selectedSubtype === 'Panne'){
                $("#id_moyen_container").css("display", "flex");
            }
            else{
                $("#id_moyen_container").hide();
            }
        }

        function displayBtnFinish(){
        const production_id = '{{ production_instance.id }}';
        $.ajax({
            url: '{% url "manage-btn-finish" %}',
            data: { 'production_id': production_id },
            success: (response) => {
                if(response.success){
                    $("#finishBtn").show();;
                }else{
                    $("#finishBtn").hide();
                }

            }
        });
    };
        displayBtnFinish();

        // Écouteur d'événement pour le changement de type d'arrêt
        $("#id_type_arret").change(function() {
            var arretId = $(this).val();
            if (arretId) {
                $.ajax({
                    url: "{% url 'load_subtypes' %}",
                    data: { 'arret_id': arretId },
                    success: function(data) {
                        $("#id_subtype_arret").html('');
                        $("#id_subtype_arret").append(new Option('------------------', ''));
                        for (var i = 0; i < data.length; i++) {
                            var option = new Option(data[i].description, data[i].id);
                            $("#id_subtype_arret").append($(option));
                        }
                        $("#id_subtype_arret").trigger('change');
                    }
                });
            } else {
                $("#id_subtype_arret").html('');
                $("#id_subtype_arret").append(new Option('------------------', ''));
            }
        });

        // Écouteur d'événement pour le changement de sous-type d'arrêt
        $("#id_subtype_arret").change(function() {
            var subtypeArretId = $(this).val();
            if (subtypeArretId) {
                $.ajax({
                    url: "{% url 'load_detailsubtypes' %}",
                    data: { 'subtype_arret_id': subtypeArretId },
                    success: function(data) {
                        $("#id_detail_sub_type_arret").html('');
                        $("#id_detail_sub_type_arret").append(new Option('----------', ''));
                        for (var i = 0; i < data.length; i++) {
                            var option = new Option(data[i].description, data[i].id);
                            $("#id_detail_sub_type_arret").append($(option));
                        }
                    }
                });

                toggleFieldsVisibility();
            } else {
                $("#id_detail_sub_type_arret").html('');
                $("#id_changement_container, #id_action_container").hide();
                $("#id_detail_sub_type_arret").append(new Option('--------', ''));
            }
        });

        // Écouteur d'événement pour le changement de détail d'arrêt
        $("#id_detail_sub_type_arret").change(function() {
            toggleFieldsVisibility();
        });

        // Reste du code...

        // Événement pour le bouton Soumettre
        $('#submitBtn').click(function() {
            $.ajax({
                type: 'POST',
                url: '{% url 'step3' %}',
                data: $('#arretForm').serialize(),
                success: function(response) {
                    const index = response.success.indexOf('invalide');
                    if (index == -1) {
                        $('#message-container').html(
                            '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                            response.success +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>'
                        );
                        setTimeout(function() {
                            window.location.reload();
                        }, 3000);
                    } else {
                        $('#message-container').html(
                            '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                            'Une erreur s\'est produite lors de la requête.' +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>'
                        );
                    }
                },
                error: function(xhr, status, error) {
                    $('#message-container').html(
                        '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        'Une erreur s\'est produite lors de la requête.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>'
                    );
                    console.error(error);
                }
            });
        });

        // Événement pour le bouton Retour
        $('#backBtn').click(function() {
            window.history.back();
        });
    });
</script>
</body>
</html>
