<!-- formulaire_d_arret.html -->
{% extends "main.html" %}
{% load static %}

{% block title %}Formulaire d'Arrêt{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    </div>
    <div id="message-container" class="mt-4">
        {% if message %}
        <div class="alert alert-{{ message_type }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <h3>Informations</h3>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><strong>Secteur:</strong></td>
                    <td>{{ production_instance.secteur.nom_secteur }}</td>
                </tr>
                <tr>
                    <td><strong>Ligne:</strong></td>
                    <td>{{ production_instance.ligne.nom }}</td>
                </tr>
                <tr>
                    <td><strong>Nombre d'opérateurs:</strong></td>
                    <td>{{ production_instance.nombre_operateur }}</td>
                </tr>
                <tr>
                    <td><strong>Mois:</strong></td>
                    <td>{{ production_instance.get_month }}</td>
                </tr>
                <tr>
                    <td><strong>Semaine:</strong></td>
                    <td>{{ production_instance.get_week }}</td>
                </tr>
                <tr>
                    <td><strong>Produit:</strong></td>
                    <td>{{ produit }}</td>
                </tr>
                <tr>
                    <td><strong>Client:</strong></td>
                    <td>{{ client }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div class="container form-container">
                <form method="POST" id="arretForm" class="form-horizontal">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group row">
                        <label for="id_type_arret" class="col-sm-4 col-form-label">{{ form.type_arret.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.type_arret }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_subtype_arret" class="col-sm-4 col-form-label">{{ form.subtype_arret.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.subtype_arret }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_detail_sub_type_arret" class="col-sm-4 col-form-label">{{ form.detail_sub_type_arret.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.detail_sub_type_arret }}
                        </div>
                    </div>
                    <div class="form-group row" id="id_moyen_container">
                        <label for="id_moyen" class="col-sm-4 col-form-label">{{ form.moyen.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.moyen }}
                        </div>
                    </div>
                    <div class="form-group row" id="id_changement_container">
                        <label for="id_changement" class="col-sm-4 col-form-label">{{ form.changement.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.changement }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_commentaire" class="col-sm-4 col-form-label">{{ form.commentaire.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.commentaire }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Durée</label>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="id_duree_heure">Heures</label>
                                {{ form.duree_en_heure }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="id_duree_minute">Minutes</label>
                                {{ form.duree_en_minute }}
                            </div>
                        </div>
                    </div>

                    <!-- Champs non saisissables ajoutés ici -->
                    <div class="form-group row" id="id_obi_container" style="display: none;">
                        <div class="col-sm-12 d-flex justify-content-end align-items-center">
                            <label class="mr-2 mb-0" style="width: 50px;">Obi</label>
                            <input type="text" class="form-control form-control-sm mr-3" id="obi_value" readonly
                                   style="width: 80px;">
                            <label class="mr-2 mb-0" style="width: 120px; font-size: 12px;">Temps de dépassement</label>
                            <input type="text" class="form-control form-control-sm" id="temps_depassement" readonly
                                   style="width: 80px;">
                        </div>
                    </div>
                    <!-- ... -->
                    <div class="form-group row" id="id_action_container">
                        <label for="id_action" class="col-sm-4 col-form-label">{{ form.action.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.action }}
                        </div>
                    </div>
                    <div class="form-group row" id="id_intervenant_container">
                        <label for="id_intervenant" class="col-sm-4 col-form-label">{{ form.intervenant.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ form.intervenant }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <!-- Bouton de Retour -->
                            <button type="button" class="back-button" id="backBtn" style="margin-right:20px">
                                <i class="fas fa-arrow-left"></i>
                            </button>
                            <button type="button" id="submitBtn" class="btn btn-customer">Enregistrer</button>
                        </div>
                    </div>
                </form>

                <div style="position: absolute; bottom:30px; right:210px;">
                    <a href="{% url 'step3' %}?finish={{production_instance.id}}" id="finishBtn"
                       class="btn btn-secondary">Finish</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        // Fonction pour gérer l'affichage des champs intervenant, changement et action
        function toggleFieldsVisibility() {
            var selectedType = $("#id_type_arret option:selected").text();
            var selectedSubtype = $("#id_subtype_arret option:selected").text();
            var selectedDetail = $("#id_detail_sub_type_arret option:selected").text();

            if (selectedType === 'Arret Propre' && selectedSubtype === 'Arrêt Fonctionnel' && selectedDetail === 'Changement de Serie') {
                $("#id_changement_container, #id_action_container").css("display", "flex");
            } else {
                $("#id_changement_container, #id_action_container").hide();
            }
            if (selectedType === 'Arret Propre' && selectedSubtype === 'Panne'){
                $("#id_moyen_container").css("display", "flex");
            }
            else{
                $("#id_moyen_container").hide();
            }
        }

        function displayBtnFinish(){
            const production_id = '{{ production_instance.id }}';
            $.ajax({
                url: '{% url "manage-btn-finish" %}',
                data: { 'production_id': production_id },
                success: (response) => {
                    if(response.success){
                        $("#finishBtn").show();
                    }else{
                        $("#finishBtn").hide();
                    }
                }
            });
        };

        displayBtnFinish();

        function update_moyen(){
            const ligne_id = '{{ ligne_id }}';
            $.ajax({
                url: '{% url "load-moyen" %}',
                data: { 'ligne_id': ligne_id },
                success: (data) => {
                    $("#id_moyen").html('');
                    $("#id_moyen").append(new Option('----------', ''));
                    for (var i = 0; i < data.length; i++) {
                        var option = new Option(data[i].nom, data[i].id);
                        $("#id_moyen").append($(option));
                    }
                }
            });
        }

        update_moyen();

        // Écouteur d'événement pour le changement de type d'arrêt
        $("#id_type_arret").change(function() {
            var arretId = $(this).val();
            if (arretId) {
                $.ajax({
                    url: "{% url 'load_subtypes' %}",
                    data: { 'arret_id': arretId },
                    success: function(data) {
                        $("#id_subtype_arret").html('');
                        $("#id_subtype_arret").append(new Option('------------------', ''));
                        for (var i = 0; i < data.length; i++) {
                            var option = new Option(data[i].description, data[i].id);
                            $("#id_subtype_arret").append($(option));
                        }
                        $("#id_subtype_arret").trigger('change');
                    }
                });
            } else {
                $("#id_subtype_arret").html('');
                $("#id_subtype_arret").append(new Option('------------------', ''));
            }
        });

        // Écouteur d'événement pour le changement de sous-type d'arrêt
        $("#id_subtype_arret").change(function() {
            var subtypeArretId = $(this).val();
            if (subtypeArretId) {
                $.ajax({
                    url: "{% url 'load_detailsubtypes' %}",
                    data: { 'subtype_arret_id': subtypeArretId },
                    success: function(data) {
                        $("#id_detail_sub_type_arret").html('');
                        $("#id_detail_sub_type_arret").append(new Option('----------', ''));
                        for (var i = 0; i < data.length; i++) {
                            var option = new Option(data[i].description, data[i].id);
                            $("#id_detail_sub_type_arret").append($(option));
                        }
                    }
                });

                toggleFieldsVisibility();
            } else {
                $("#id_detail_sub_type_arret").html('');
                $("#id_changement_container, #id_action_container").hide();
                $("#id_detail_sub_type_arret").append(new Option('--------', ''));
            }
        });

        // Écouteur d'événement pour le changement de détail d'arrêt
        $("#id_detail_sub_type_arret").change(function() {
            toggleFieldsVisibility();
        });

        // Écouteur d'événement pour le changement de changement
        $("#id_changement").change(function() {
            var selectedChangement = $("#id_changement option:selected").text().toLowerCase();
            if (selectedChangement.includes('commun') || selectedChangement.includes('version') || selectedChangement.includes('spécifique')) {
                const secteur = '{{ production_instance.secteur.id }}';
                const ligne = '{{ production_instance.ligne.id }}';
                const client = '{{ client.id }}';
                const produit = '{{ produit.id }}';
                const face_du_produit = '{{ face_du_produit_id }}';

                $.ajax({
                    url: "{% url 'get_obi_value' %}",
                    data: {
                        'secteur': secteur,
                        'ligne': ligne,
                        'client': client,
                        'produit': produit,
                        'face_du_produit': face_du_produit,
                        'changement': selectedChangement
                    },
                    success: function(data) {
                        if (data.success) {
                            $("#obi_value").val(data.obi);
                            $("#id_obi_container").css("display", "flex");
                        } else {
                            $("#id_obi_container").hide();
                        }
                    }
                });
            } else {
                $("#id_obi_container").hide();
            }
        });

        // Événement pour le bouton Soumettre
        $('#submitBtn').click(function() {
            $.ajax({
                type: 'POST',
                url: '{% url 'step3' %}',
                data: $('#arretForm').serialize(),
                success: function(response) {
                    const index = response.success.indexOf('invalide');
                    if (index == -1) {
                        $('#message-container').html(
                            '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                            response.success +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>'
                        );
                        setTimeout(function() {
                            window.location.reload();
                        }, 1000);
                    } else {
                        $('#message-container').html(
                            '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                            response.success +
                            '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>'
                        );
                    }
                },
                error: function(response) {
                    $('#message-container').html(
                        '<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        response.responseJSON.error +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '</button>' +
                        '</div>'
                    );
                }
            });
        });

         // Fonction pour calculer le temps de dépassement
    function calculerTempsDepassement() {
        var heures = parseInt($("#id_duree_en_heure").val() || 0);
        var minutes = parseInt($("#id_duree_en_minute").val() || 0);
        var obi = parseInt($("#obi_value").val() || 0);

        // Calcul du temps de dépassement
        var dureeTotaleEnMinutes = heures + minutes/60;
        var tempsDepassement = dureeTotaleEnMinutes - obi; // en minutes

        // Mettre à jour le champ Temps de dépassement
        $("#temps_depassement").val(tempsDepassement);
    }

    // Écouteurs d'événements pour les champs de durée et "Obi"
    $("#id_duree_en_heure, #id_duree_en_minute, #obi_value").on('change keyup', function() {
        calculerTempsDepassement();
    });

    // Appel initial au chargement de la page
    calculerTempsDepassement();


        document.getElementById('backBtn').addEventListener('click', function() {
        window.history.back();
        });
    });
</script>
{% endblock %}
