<form method="post" onsubmit="setFormAction()" class="p-4 shadow-sm rounded bg-white">
    {% csrf_token %}

    {% if report_type == 'daily_line' or report_type == 'weekly_line' %}
    <div class="form-group">
        <label for="{{ form.ligne.id_for_label }}">{{ form.ligne.label }}</label>
        {{ form.ligne }}
    </div>
    {% endif %}

    {% if report_type == 'weekly_sector' or report_type == 'monthly_sector' %}
    <div class="form-group">
        <label for="{{ form.secteur.id_for_label }}">{{ form.secteur.label }}</label>
        {{ form.secteur }}
    </div>
    {% endif %}
    <div class="form-group">
        <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
        {{ form.date }}
    </div>
    <button type="submit" class="btn btn-secondary btn-block">Générer le rapport</button>
</form>
