<div class="card shadow mb-3">
    <div class="card-header d-flex justify-content-between align-items-center">
        <p class="mb-0">Secteur</p>
        <button class="btn btn-success add-button" data-target="secteurFormInner">
            Ajouter
        </button>
        <button class="btn btn-secondary cancel-button d-none" data-target="secteurFormInner">
            Annuler
        </button>
    </div>
    <div class="card-body">
        <form id="secteurFormInner" class="d-none">
            {% csrf_token %}
            {{ secteur_form.as_p }}
            <button type="submit" class="btn btn-success mt-2">Ajouter</button>
        </form>
    </div>
</div>
